{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="login-page-wrap">
        <div class="uk-position-center uk-padding-small">
            <div class="uk-text-center">
                <img class="uk-width-small" src="{{ asset('build/images/snau-logo.png') }}" alt="logo">
            </div>
            <h3 class="uk-text-center">Hello, {{ user.name ~ ' '~ user.surname }}!</h3>
            This friendly message is coming from:
                {{ form_start(form, {'attr':{'id': 'updated', 'method':'POST', 'action':path('activation',{'hash':app.request.get('hash')}) } }) }}
                {{ form_row(form.plainPassword.first, {'label_attr': {'class': 'uk-form-label uk-margin-top uk-display-block'}, 'attr': {'class': 'uk-input uk-form-small'}}) }}
                {{ form_row(form.plainPassword.second, {'label_attr': {'class': 'uk-form-label uk-margin-top uk-display-block'}, 'attr': {'class': 'uk-input uk-form-small'}}) }}
            <div class="uk-text-center uk-margin-top">
                <button class="custom-btn uk-button " type="submit">{{ "REGISTER"|trans }}</button>
            </div>

                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
