{% trans_default_domain 'translations' %}
{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="profile  uk-position-center">
        <div class="uk-width-medium">
            <div class="uk-text-center uk-background-muted uk-padding-small">
                <div class="uk-text-center">
                    {{ barcode|raw }}
                </div>
                <div>
                    <img src="{{ qr_code_data_uri(app.user.code, { writer: 'svg', size: 150 }) }}"/>
                </div>
            </div>

            <div class="profile-info uk-margin-top">
                <ul class="uk-list">
                    <li class="uk-text-bold">{{ user.name }} {{ user.surname }}</li>
                    {# <label>{{ "NAME"|trans }}</label> #}
                    {# <label>{{ "USERNAME"|trans }}</label> #}

                    {# <label>{{ "PHONE"|trans }}</label> #}
                    <li class="uk-text-bold">{{ user.phone }}</li>
                    <li><span class="uk-text-bold">{{ "BUILD"|trans }}</span> - {{ user.build }}</li>
                    <li><span class="uk-text-bold">{{ "FLAT"|trans }}</span> - {{ user.flatNum }}</li>
                </ul>
            </div>
            <div class="uk-margin-top uk-text-center">
                <a class="custom-btn uk-button" href="{{ path("app_logout") }}">Logout</a>
            </div>

        </div>
    </div>



{% endblock %}